* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.hero {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.hero::before {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f6/Campus_-_The_Danish_Design_School.jpg');
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* opacity: 0; */
}

.hero::after {
  background-color: #43acff;
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}

.above-hero {
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  min-height: 13em;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}

.not-hero {
  width: 100vw;
  height: 30%;
}

.bg-info {
  background-color: #FFFFFF;
  color: #fff;
}

.not-hero-message {
  color: #fff;
  text-shadow: #343a40 2px 2px;
  min-width: 50%;
  min-height: 7em;
}

.hero-message {
  color: #fff;
  text-shadow: #000000 2px 2px;
  min-width: 100%;
  min-height: 14em;
  margin-bottom: -1em;
  position: relative;
}

.hero-message::before {
  content: "";
  display: block;
  position: absolute;
  margin-left: 0;
  min-width: 100%;
  min-height: 16em;
  z-index: -1;
  opacity: 0.3;
  background-color: #343a40;
}

.hero-title,
.hero-sub-title {
  width: 100%;
  display: block;
  text-align: center;
  font-family: serif;
}

.hero-title {
  margin: 3% 0;
  /* text-transform: uppercase; */
  font-size: 8em;
}

/* .txtbtn {
          position: relative;
          align-self: center;
          width: 30%;
          height: 50%;
        } */
.bot-container {
  height: 30%;
  width: 100%;
  align-items: center;
  align-self: center;
  text-align: center;
  display: inline-block;
}

.sheetsframe {
  width: 95%;
  height: 100%;
}

.iframe-container {
  text-align: center;
  width: 100%;
  height: 90%;
}

.back-container {
  margin-right: .2em;
  margin-top: .2em;
  margin-bottom: .2em;
  width: 100%;
  text-align: left;
}

.txtbtn {
  margin-left: 2.4%;
}

.centered-container {
  height: 100%;
  width: 100%;
  text-align: center;
  align-items: center;
}

.button-container {
  height: 10%;
  width: 100%;
  text-align: center;
}

.research-header {
  color: #36454f;
}

.research-header {
  font-size: 3em;
}

.research-hr {
  width: 40%;
  margin-bottom: 2em;
  margin-left: 30%;
}

.button-smalltext {
  font-size: 1em;
  width: 20%;
}

/* Nice button code by Vincent Durand */
button {
  background: #43acff;
  color: #fff;
  border: none;
  position: relative;
  height: 60px;
  font-size: 1.6em;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin-left: .3em;
  margin-right: .3em;
  width: 10em;
  /* border-radius: 5px; */
}

button:hover {
  background: #fff;
  /* width: 15%; */
  color: #43acff;
}

button:before, button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #43acff;
  transition: 300ms ease all;
}

button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

button:hover:before, button:hover:after {
  width: 100%;
  transition: 600ms ease all;
}

/* this is the w3schools example menu because i am incompetent */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #343a40;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  /* opacity: ; */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white ;
  display: block;
  transition: 0.3s;
  opacity: .7;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.navbutton {
  font-size:30px;
  cursor:pointer;
  width:10%;
  /* align-self: auto; */
  color: #36454f;
  /* position:static; */
  /* margin-bottom: 15%; */
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
